{% extends 'base.html.twig' %}

{% block title %}Edit NamePhoneRecord{% endblock %}

{% block body %}
    <h1>Edit NamePhoneRecord</h1>

    {{ include('name_phone_record/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('name_phone_record_index') }}">back to list</a>

    {{ include('name_phone_record/_delete_form.html.twig') }}
{% endblock %}
